<ion-view view-title="Conta" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
         heyyyyy
      </div>
      <button class="button button-block button-calm" ng-click="login(data)">Login</button>
  </ion-content>
</ion-view>