<ion-view view-title="Sara can't find the market" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
        <h1 class="title">Login</h1>
          <label class="item item-input">
              <input pattern="[a-z]([a-zA-Z0-9_]*)" type="text" placeholder="utilizador" ng-model="data.utilizador" required>
          </label>
          <label class="item item-input">
              <input type="password" placeholder="palavra-chave" ng-model="data.palavra" required>
          </label>
      </div>
      <button class="button button-block button-energized" ng-click="login(data)">Entrar</button>
      <button class="button button-block button-balanced" ng-click="registar()">Registar conta</button>
      <!-- <img src="img/sara.jpg"/> -->
  </ion-content>
</ion-view>