<ion-view view-title="Registar" name="registar-view">
  <ion-content class="padding">
      <div class="list list-inset">
        <h1 class="title">Registar</h1>
          <label class="item item-input">
              <i class="icon ion-person"></i> 
              <input pattern="[a-z]([a-zA-Z0-9_]*)" type="text" placeholder="utilizador" ng-model="data.utilizador" required>
          </label>
          <label class="item item-input">
              <i class="icon ion-email"></i> 
              <input type="email" placeholder="email" ng-model="data.email" required>
          </label>
          <label class="item item-input">
               <i class="icon ion-locked"></i> 
              <input type="password" placeholder="palavra-chave" ng-model="data.palavra" required>
          </label>
          <label class="item item-input">
              <i class="icon ion-locked"></i> 
              <input type="password" placeholder="repetir palavra-chave" ng-model="data.palavra2" required>
          </label>
      </div>
      <button class="button button-block button-energized" ng-click="registar(data)">Confirmar</button>
  </ion-content>
</ion-view>